name: ExampaleCore Workflow
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 8, 11, 14 ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - name: Compile ExampalesCore Module
        run: sbt ";project root; +publishLocal ;project examplecore; +Test/compile"